.footer__link {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration-line: none;
    margin-right: 18px;
    transition: all 1s ease;
}

.footer__link:last-of-type {
    margin-right: 0;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        margin: 0 0 32px 0;
    }

    .footer__link:last-of-type {
        margin: 0;
    }
}