.oakley {
    max-width: 984px;
    margin: 0 auto;
    padding: 92px 0 0;
}

@media screen and (max-width: 1024px){
    .oakley{
        margin: 0 0 0 48px;
    }
}

@media screen and (max-width: 768px){
    .oakley{
        margin: 0 24px;
        padding: 88px 0 0;
    }
}

@media screen and (max-width: 320px){
    .oakley{
        padding: 64px 0 0;
        margin: 0 16px;
    }
}