.lead__subtitle{
    max-width: 640px;
    max-height: 72px;
    color: #fff;
    font-size: 30px;
    line-height: 36px;
    font-family: 'Inter';
    font-weight: 400;
    text-align: center;
    padding: 0;
    margin: 32px auto 0;
}