.place__link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 12px;
    transition: all 1s ease;
}

.place__link:hover {
    opacity: 0.8;
}